@use '../abstracts' as *;

body {
    min-height: 100vh;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}
