@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin respond($breakpoint) {
    @if $breakpoint == medium {
        @media (min-width: 52.125em) {
            @content;
        }
    }
    @if $breakpoint == large {
        @media (min-width: 90em) {
            @content;
        }
    }
}
